@media (max-width: 920px) {
    .categoryItem {
        flex: 31.5%;
        max-width: 31.5%;
    }
}


@media (max-width: 920px) {
    .profileRightPart {
      flex: 99%;
      max-width: 100%;
    }
    .profileLeftPart {
      flex: 99%;
      max-width: 100%;
    }
}

@media (max-width: 920px) {
    .footer {
      display: block;
    }
}

@media (max-width: 920px) {
    .cartNotification {
        top: 1%;
        left: 10%;
    }
}

@media (max-width: 920px) {
    .grouping {
        padding: 5px 0px !important;
    }

    .groupingPart {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .groupingPartItem {
        flex-basis: 30%;
    }


    .groupingTitle {
        font-size: 10px;
    }

    .groupingItemsImg {
        width: 88%;
    }

    .groupingItem {
        flex: 47%;
        max-width: 47%;
    }

    .kalaImg {
        flex: 99%;
        max-width: 99%;
    }

    .kalaDescibtion {
        flex: 99%;
        max-width: 99%;
        font-size: 9px;
    }

    .descKalaTakImg {
        max-width: 88%;
        align-self: center;
    }

    .similarKalaImg {
        flex: 47%;
        max-width: 47%;
        flex-basis: 47%;
    }
}

@media (max-width: 920px) {
    .shoppingCart {
        display: flex;
        flex-wrap: wrap;
    }

    .shoppingRight {
        flex: 99%;
        max-width: 99%;
    }
    .shoppingLeft {
        border: 1px solid red;
        padding: 3px;
        border-radius: 8px;
        position: fixed;
        bottom: 42px;
        background-color: aliceblue;
        flex: 99%;
        max-width: 99%;
        width: 84%;
        align-self: center;
    }

    .shoppingItem {
        display: flex;
        flex: 98%;
        max-width: 98%;
    }

    .yourBenefit {
        right: 29%;
    }

    .contactRight {
        flex: 199%;
        max-width: 99%;
    }

    .contactLeft {
        flex: 99%;
        max-width: 99%;
    }

    .contactImg {
        width: 50%;
        margin-top: 10px;

    }
    

}

@media only screen and (max-width: 990px) and (min-width:278px) {
    .description {
        box-shadow: 0px 0px 1px 1px red;
        width: 98%;
    }
}


@media (max-width: 920px) {
    .shippingPart {
        flex: 98%;
        max-width: 98%;
    }
    .login {
        flex: 98%;
        max-width: 98%;
    }

    .factors {
        max-width: 99%;
        flex: 99%;
    }
    .factorsResult {
        max-width: 99%;
        flex: 99%;
    }
    #wheel canvas {
        width: 100% !important;
    }
}

@media (max-width: 920px) {
    .gamer-item {
        width: 32%;
    }

    .gamer-image {
        width: 99px;
        height: 99px;
    }

    .gamer-container {
        padding: 2px;
     }

     .gamer-prize {
        font-size: 12px;
    }
}

@media (max-width: 768px) { 
    .prize-top-div {
        width:100%;
        display:flex;
    }

    .prize-top-div > .first {
        width: 15%;
    }

    .prize-top-div > .second {
        width: 82%;
    }

    .for-prize-info {
        width: 100%;
    }

    .discount-info {
        width: 98%;
    }

    .discounts {
        flex-direction: column;
    }
}

@media (max-width: 768px) { 
    .discount-content-items {
        width: 98%;
    }
    .award-container-item {
        width: 98%;
    }

    #weely-calendar {
        background: url("../images/daily-mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        padding: 1%;
        max-width: 100%;
    }

    .weekly-calendar {
        grid-template-columns: repeat(4, 1fr);
        padding: 3px;
        margin: 3px;
        gap: 3px;
     }

     .contactList {
        font-size:11px;
    }
}

@media (max-width: 768px) { 
    .messageBody {
      height: 66vh;
      width: 100%;
      padding: 5px;
    }

    .messageFooter {
        width: 92%;
        bottom: 60px;
    }

    .live-chat {
        width: 93.5%;
     }

    .mainSlider-right {
        width: 100%;
    }
    .mainSlider-left {
      width: 100%;
    }

    div.price {
      height: 1rem;
      font-size: 0.8rem;
    }

    .spin {
        width: 66px;
        height: 66px;
        font-size: 12px;
      }
    


}
